* {
    box-sizing: border-box;
    font-family: "Helvetica" , "Arial", "sans-serif", "Times New Roman";
    font-size: 20px;
}

<<<<<<< HEAD
.header {
display: flexbox;
padding-top: 25px;
padding-bottom: 25px;
background-color: #69fd84;
}

.seacrh.ing {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.footer {
    display: flexbox;
    /* list-style-type: none; */
    padding-top: 25px;
    padding-bottom: 25px;
    /* margin-right: 20px; */
    /* float: middle; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: #69fd84;
}
.footer div ol li {
    display: inline-block;
    margin-right: 400px;
    /* float: middle; */
    /* list-style-type: none;
    padding-top: 25px;
    margin-right: 20px;
    /* float: right; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: #69fd84; */
=======
.meal-img img{
    width: 100%;
    display: block;
}

.search-btn{
    background: black;
    background-color: aqua;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 50px;
    margin: 1rem;
    border-radius: 2rem;
>>>>>>> 72caf1c45f86a73a04c8057c2987a6925611beab
}