@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --tenne-tawny: #0836ee;
    --tenne-tawny-dark: #0836ee;
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 15px;
    color:#fff;
    /* font-size: 1rem; */
    } 
    
.image{
        background-image:url(/project-1/assets/img/cooking-banner-g6441d4f97_1920.jpg);
    }   

.open-modal {
    justify-content: right;
    margin-left: 57%;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0836ee;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.modal-title, .weather-content{
    color: #000;

}


.title1 {
    padding-left: 2%;
    font-size: 2.5rem;
    margin-bottom: 10px;
    }

.title {
    font-size: 2rem;
    margin-bottom: 10px;
    }

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}

.meal-search{
    margin: 2rem 0;
}

.search-control,
.search-btn{
    width: 100%;
}

.meal-result{
    /* margin-top: 4rem;*/
} 
#meal{
    margin: 2.4rem 0;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; 
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
    
}

.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}

.meal-numPeople h3{
    font-size: 1.4rem;
}

.meal-link{
    margin: 1.4rem 0;
}
.meal-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.meal-link a:hover{
    opacity: 0.8;
}

.meal-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.meal-search-box{
    margin:1.2rem 0;
    display: flex;
    align-items: stretch;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.meal-img img{
    width: 100%;
    display: block;
    background-color: #fff;
}

.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--tenne-tawny);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: #000;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--tenne-tawny);
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--tenne-tawny-dark);
}

.notFound{
    grid-template-columns: 1fr!important;
    font-size: 1.8rem;
    color: red;
    font-weight: 600;
    width: 100%;
}

#recipe-btn{
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0836ee;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

}

.footer {
    display: flex;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.footer div ol li {
    display: inline-flex;
     margin-right: 300px;
}

/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}