* {
    box-sizing: border-box;
    font-family: "Helvetica" , "Arial", "sans-serif", "Times New Roman";
    font-size: 20px;
}

.header {
    display: block;
    border: solid
}

.title {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 10%;
    margin-top: 5%;
}

.container {
    display: flex;
    
    
}

.card1{
    height: 100px;
    
}